html {
    background: #eeecde;
}

.flex-container{
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container{
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    background: pink;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}
.ok-container{
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    background: rgb(110, 162, 110);
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
}
.yes-container{
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border-radius:1rem;
    background: rgb(255, 227, 176);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
